@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var hasViewManageMenuPermission = (await authorizationService.AuthorizeAsync(User, "ViewManageMenu")).Succeeded;
}

@if (hasViewManageMenuPermission)
{
    <a class="nav-link" asp-action="Index" asp-controller="AdminCP" asp-area="AdminCP">
        <i class="fas fa-cog"></i>  Quản trị
    </a>
}