@{
    ViewData["Title"] = "Home Page";
}

<partial name="_AlertMessage" />

@* <a 
asp-action="Index"
asp-controller="Product"
asp-area="ProductManage"
asp-all-route-data='new Dictionary<string, string>()
    {
        { "id", "1" },
        { "name", "abc" }
    }'
>Product List</a> *@


<textarea name="" id="summernoteEditor" cols="30" rows="10"></textarea>

