@page "/aboutrazor.html"

@{
   Layout= "_Layout"; 
}

<h1>Rz Introduce</h1>
<p>
   orem ipsum dolor sit amet consectetur adipisicing elit. Unde laboriosam, quis alias beatae numquam omnis hic earum provident at placeat! Cupiditate reiciendis amet officiis eius quibusdam aliquid iste, omnis consequuntur.
</p>